*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
li{
    margin: 30px 0; 
}
.header{
    display: flex;
    width: 80vw;
    font-size: 14px;
    margin: auto;
    margin-top: 45px;
    justify-content: space-between;
    font-weight: 1000;
    color: rgb(128, 128, 128);
    text-transform: uppercase;
}
.nav{
    display: flex;
    padding: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
}
.nav a{
    color: rgb(128, 128, 128);
}
.logo{
    flex-grow: 3;
    align-self: flex-start;
}
.logo img{
    height: 35px;
}
.heading{
    font-size: 20px;
    margin-top: 55px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}
.card{
    width: 900px;
    margin: auto;
    margin-top: 30px;
}
.card ul{
    margin-left: 30px;
}
.f{

    margin-top: 40px;
}
.text{
    font-weight: bold;
}
.footer{
    margin: 55px 0 30px;
    text-align: center;
}
.footer a{
    color: rgb(128, 128, 128);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 15px;
}
.footer a:hover{
    border-bottom: 1px solid rgb(128, 128, 128);
}